/*
Group: require_once(teamname.php);
Last edited: 05/06/2019 (V1.?)
Last edited by: Justin Farmer
Purpose: This file contains all of the CSS for the website
*/
* {
  color: #FFF8E7;
  font-family: courier;
}

body {
  background-color: #001133;
  margin: 0px;
  padding:0px;
  font-size: 30px;
  min-width: 800px;
}

input[type=submit] { /* <---- Input of Type Submit */
	background-color: #0058e6;
  border: 1px groove #001133;
	color: #FFF8E7;
	padding: 5px;
	font-size: 20px;
	cursor: pointer;
	border-radius: 8px;
  font-family: courier;
}

input[type=submit]:hover:not(.active) { /* <---- Input of Type Submit not hover */
	background-color: #DC143C;
	border: 1px groove #FFF8E7;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px groove #0058e6;
  border-radius: 7px;
  box-sizing: border-box;
  font-size: 15px;
  color: black;
}

form {
  margin: 0px;
}
/*
ul {
  font-size: 20px;
  font-family: courier;
  list-style: none;
  padding: 0px;
  padding-left: 50px;
}
*/
a {
  color: inherit;
  text-decoration: none;
}

li {
  padding: 3px;
}

h1 {
  text-shadow: 3px 3px black;
  color: darkgray;
  text-align: center;
  font-size: 300%;
  margin: 0px;
  padding: 0px;
}

h2 {
  color: #0058e6;
  padding-left: 5px;
  font-size: 30px;
}

th, td {
  text-align: center;
  color: #FFF8E7;
  font-size: 15px;
  text-decoration: none;
  margin: 0px;
  padding: 5px;
  background-color: #0058e6;
  border: 1px groove #001133;
}
/***************************************************/
/* error classes */
.error {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-bottom: 0;
  width: auto;
  height: auto;
  border: 3px groove #FFF8E7;
  background-color: crimson;
  border-top-right-radius: 15px;
}

ul.error {
  list-style: dot;
  font-size: 20px;
}

.error>li:first-child {
  list-style: none;
}

.noError {
  display: none;
}
/***************************************************/
/* header classes */
.header { /* Wrapper */
  width:100%;
  height:121px;
  overflow: hidden;
  background-color: #2176ff;
  border-bottom: 3px ridge #FFF8E7;
}

.center {
    float: left;
    width:70%;
    height:121px;
    text-align: center;
}

.left, .right {
    height:121px;
}

.right {
    float: right;
    /* margin-right: -500px; */
    text-align: left;
    background-color: #002266;
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
    width: 12.5%;
    border-left: 3px groove #FFF8E7;;
    border-bottom: 3px groove #FFF8E7;;
    box-shadow: -1px -1px 10px grey;
    position: fixed;
    right: 0;
}

.left {
    float: left;
    /* margin-left: -500px; */
    text-align: right;
    width: 225px;
    background-color: #FFF8E7;;
}

.headerMenu {
  font-size: 20px;
  font-family: courier;
  list-style: none;
  padding: 0px;
  padding-left: 50px;
}

/******************************************/
/* Menu Link */
a.menu:link {
  text-shadow: 1px 1px black;
  color: #A9A9A9;
}

a.menu:hover {
  text-shadow: 1px 1px #FFF8E7;
  color: #2176ff;
}

/***************************************************/
/* classes for area above content */
.aboveContentRight, .aboveContentLeft {
  color: #FFF8E7;
  font-size: 20px;
}

.aboveContentLeft {
  margin-top: 40px;
  float: left;
  margin-left: 5%;
  border-top: 3px groove #C0C0C0;
  border-left: 3px groove #C0C0C0;
  border-right: 3px groove #C0C0C0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #2176ff;
  padding: 5px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding-bottom: 0px;
}

.pageLink {
  background-color: #2176ff;
  border: 3px groove transparent;
  border-bottom: none;
  padding: 5px;
}

.pageLink2 {
  background-color: #2176ff;
  border: 3px groove transparent;
  border-bottom: none;
  padding: 5px;
}

.pageLink:hover:not(.active) {
  background-color:  #002266;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.pageLink2:hover:not(.active) {
  background-color:  #002266;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.active {
  text-align: center;
  background-color:  #002266;
  border-top: 3px groove #C0C0C0;
  border-left: 3px groove #C0C0C0;
  border-right: 3px groove #C0C0C0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 5px;
  font-size: 20px;
}

.aboveContentRight {
  margin-top: 50px;
  float: right;
  margin-right: 5%;
  color: #FFF8E7;
  text-shadow: 1px 1px #2176ff;
}

.pageTab {
  font-size: 20px;
}

/***************************************************/
/* classes for admin content */

.adminGridContainer {
  border: 3px groove #C0C0C0;
  padding: 10px;
  width: 90%;
  height: auto;
  margin: auto;
  margin-top: 40px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: #C0C0C0;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.dbMaintenance {
  border: 3px groove #C0C0C0;
  padding: 10px;
  width: 90%;
  height: auto;
  margin: auto;
  margin-top: 40px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: #C0C0C0;
  border-radius: 15px;
}

.dbMMessage {
  border: 3px groove #FFF8E7;
  width: 30%;
  height: auto;
  margin: auto;
  padding: 5px;
  margin-top: 40px;
  background-color: #0058e6;
  border-radius: 15px;
  font-size: 20px;
  text-align: center;
}

.adminHomepage {
  border: 3px groove #C0C0C0;
  padding: 10px;
  width: 90%;
  height: auto;
  margin: auto;
  margin-top: 40px;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
  background-color: #002266;
  border-radius: 15px;
}

.adminGridContainer, .dbMaintenance, .adminHomepage  > div {
  text-align: center;
  color: #FFF8E7;
  font-size: 20px;
  font-family: courier;
}

.hpContent {
  color: #FFF8E7;
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  list-style: none;
  padding-left: 50px;
}

.hpContent>li:first-child {
  font-size: 25px;
}
/*
.bottomAdminContainer {
  border: 3px solid darkgray;
  background-color: #002266;
  color: #FFF8E7;
  padding:10px;
  margin: auto;
  width: 90%;
  height: auto;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 10px;
}
*/
.middleAdminContainer {
  border-left: 3px groove #C0C0C0;
  border-right: 3px groove #C0C0C0;
  background-color: #002266;
  color: #FFF8E7;
  padding:10px;
  margin: auto;
  width: 90%;
  height: auto;
}

.adminTable {
  width: auto;
  margin: auto;
  text-align: left;
}

.bottomWMiddleAdminContainer {
  border: 3px groove #C0C0C0;
  background-color: #C0C0C0;
  color: #FFF8E7;
  padding:10px;
  margin: auto;
  width: 90%;
  height: auto;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 10px;
}

.bottomWMiddleAdminContainer > div {
  text-align: center;
  color: #FFF8E7;
  font-size: 20px;
  font-family: courier;
  margin: auto;
  padding: auto;
}

/******************************************/
/* Grid Image */

.column, .row {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 8%;
  padding: 1px;
  border: 1px solid black;
  border-radius: 10%;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.gridLinkWrapper {
  width: 250px;
  height: 135px;
  position: absolute;
  left: 0;
}
.gridPane {
  position: relative;
}
.gridPaneUserPic {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  border-radius: 13%;
  box-shadow: 5px 10px #0e1991;
  width: 200;
  height: 200;
}
.gridPaneElement {
  margin-top: 50px;
  margin-bottom: 75px;
  box-shadow: 5px 10px #5b69ff;
  border-radius: 26%;
  width: 150;
  height: 150;
}
.spacer {
  margin-left: 15px;
  margin-right: 5px;
  margin-bottom: 125px;
}

/******************************************/
/* Dropdown style */
/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-size: 20px;
  font-family: courier;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: #0058e6;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #0058e6;
  top: 100%;
  left: 0;
  right: 0;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/******************************************/
/* Breakpoints for varying screen size */
@media only screen and (max-width: 1000px) {
  .center {
      float: left;
      width:85%;
      height:121px;
      text-align: center;
      display: inline-block;
  }

  .right {
      width: 15%;
  }

  .left {
      width: 0px;
      background-color: none;
  }

  .gridLinkWrapper {
    width: 0px;
    height: 0px;
  }
}

@media only screen and (max-width: 900px) {
  .aboveContentRight {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .center {
      float: left;
      width:80%;
      height:121px;
      text-align: center;
  }

  .right {
      width: 20%;
  }
}

@media only screen and (max-width: 600px) {
  .center {
      float: left;
      width:70%;
      height:121px;
      text-align: center;
  }

  .right {
      width: 30%;
  }
}
